* {
    box-sizing: border-box;
    margin: 0;
  }
  
html {
    background: #DBE5EA;
    height: 100%;
  }
  
body {
    align-items: center;
    display: flex;
    font: 1.125em/1.5625 Roboto;
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }

.namecard {
    position: relative;
    width: 620px;
    height: 220px;
    background: #FFFFFF;
  }

.header {
    width: 620px;
    height: 33.06px;
    background: #006633;
  }

.flex-container {
    display: flex;
    background-color: #006633;
    width: 620px;
    height: 33.05px;
  }

.flex-container > div {
    background-color: #fff;
    width: 161.56px;
    text-align: center;
    margin-left: 35%;
    transform: skew(-45deg);
  }

.flex-container > div > i {
    transform: skewX(45deg);
    display: inline-flex;
  }

p {
    display: inline-flex;
    transform: skewX(45deg);
    font-family: Roboto;
    line-height: 28px;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    font-style: normal;
  }

.felsonev {
    position: absolute;
    width: 91px;
    height: 23px;
    left: 97px;
    bottom: 153px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #006633;
  }

.alsonev {
    position: absolute;
    width: 77px;
    height: 23px;
    left: 97px;
    bottom: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #006633;
  }

#full-name{
    position: absolute;
    width: 450px;
    height: 45px;
    left: 82px;
    right: 88px;
    top: calc(50% - 45px/2 - 20.5px);

    /* Fehér */

    background: #FFFFFF;
    /* SötétZöld */

    border: 1px solid #006633;
    box-sizing: border-box;
    border-radius: 44px;
  }

#nickname{
    position: absolute;
    width: 450px;
    height: 45px;
    left: 82px;
    right: 88px;
    top: calc(50% - 45px/2 + 69.5px);
  
    /* Fehér */
  
    background: #FFFFFF;
    /* SötétZöld */
  
    border: 1px solid #006633;
    box-sizing: border-box;
    border-radius: 44px;
  }  

[value="Próba Péter"]{
    position: absolute;
    width: 126px;
    height: 28px;
    left: 97px;
    top: calc(50% - 28px/2 - 21px);
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Zöld */

    color: #55AE3A;

  }

[value="Peti"]{
    position: absolute;
    width: 42px;
    height: 28px;
    left: 97px;
    top: calc(50% - 28px/2 + 69px);
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Zöld */

    color: #55AE3A;

  }