* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    background: #DBE5EA;
    height: 100%;
  }
  
body {
    align-items: center;
    display: flex;
    font-style: 'Roboto';
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }

.namecard{
  width: 620px;
  height: 220px;
  background: #ffffff;
  }

.header{
  display: flex;
  background: #006633;
  justify-content: center;
  height: 35px;
  
}

.flex-container{
  background: #ffffff;  
  transform: skew(-45deg);
  width: 162px;
  
}  

.flex-container > div {
  transform: skewx(45deg);
  text-align: center;
  padding: 6px 45px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-flex;
}

i {
  padding-right: 10px;
}

.intake {
  width: 450px;
  height: 45px;
}


