.table{
    position: relative;
width: 1334px;
height: 120px;
top: 235px;
left: 100px;
background: #FFFFFF;
}

.picture{
    position: absolute;
left: 0%;
right: 91%;
top: 0.03%;
bottom: -0.03%;

background: url(Coach\ and\ Go\ logó\ 1.png), #C4C4C4;
transform: rotate(-0.01deg);
}

.words{
    position: absolute;
left: 10.12%;
right: 43.4%;
top: 7.5%;
bottom: 6.67%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

/* Színes/Fekete */

color: #000000;

}

.date{
    position: absolute;
left: 55.02%;
right: 31.26%;
top: 39.17%;
bottom: 41.67%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
font-feature-settings: 'liga' off;

/* Színes/Fekete */

color: #000000;


}

.frame1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;

position: absolute;
left: 74.51%;
right: 21.29%;
top: 26.67%;
bottom: 26.67%;

/* SötétZöld */

background: #006633;
border-radius: 30px;
}

.frame1>.fas{
    position: static;
left: 14.29%;
right: 14.29%;
top: 14.29%;
bottom: 14.29%;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;

}

.fa-bars{
    position: absolute;
left: 20.83%;
right: 20.83%;
top: 27.08%;
bottom: 27.08%;

/* Fehér */

background: #FFFFFF;

}

.frame2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;

    position: absolute;
left: 80.81%;
right: 14.99%;
top: 27.5%;
bottom: 25.83%;

background: #DF7E24;
border-radius: 42px;
transform: rotate(90deg);

}

.frame2>.fas{
    position: absolute;
left: 81.26%;
right: 15.44%;
top: 32.5%;
bottom: 30.83%;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;

}

.fa-table{
    position: absolute;
left: 85.01%;
right: 10.79%;
top: 27.5%;
bottom: 25.83%;


}

.frame3{
    position: absolute;
left: 87.11%;
right: 8.7%;
top: 27.5%;
bottom: 25.83%;

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;


background: #006633;
border-radius: 30px;
}

/*.frame3>.fas{
    position: absolute;
left: 87.63%;
right: 9.07%;
top: 33.33%;
bottom: 30%;
}

.fa-trash{
    position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* Fehér 

background: #FFFFFF;
}*/

.frame4{
    position: absolute;
left: 93.4%;
right: 2.4%;
top: 27.5%;
bottom: 25.83%;

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;

/* SötétZöld */

background: #006633;
border-radius: 30px;
}

.fa-edit{
    position: absolute;
left: 93.93%;
right: 2.77%;
top: 32.5%;
bottom: 30.83%;

background: #FFFFFF;
}


/*tr{
    position: absolute;
width: 687px;
height: 76px;
left: -20px;
top: -139px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.picture{
    position: absolute;
left: 0%;
right: 91%;
top: 0.03%;
bottom: -0.03%;

background: url(.jpg), #C4C4C4;
transform: rotate(-0.01deg);
}