* {
    box-sizing: border-box;
    margin: 0;
  }
  
html {
    background: #DBE5EA;
    height: 100%;
  }
  
body {
    align-items: center;
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }

.namecard {
  width: 500px;
  height: 360px;
  border-radius: 16px;
  background-color: #006633;
  padding-left: 50px;
  padding-right: 50px;
}

.flex-container .header {
  display: inline-flex;
  color: #ffffff;
  margin-top: 38px;
}

.flex-container .header p {
  padding-left: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
}

.subscribe .input-container input{
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #DBE5EA;
  margin-top: 19px;
}

.check {
  display: inline-flex;
  margin-top: 10px;
  color: #ffffff;
}

.check p:nth-child(3) {
  text-decoration-line: underline;
}

.btn-subscribe{
  margin-left: 80px;
  margin-right: 80px;
  display: inline-flex;
}

.btn-subscribe button {
  margin-top: 30px;
  width: 100%;
  background-color: #55AE3A;
  color: #ffffff;
  display: inline-flex;
  border-radius: 44px;
  box-shadow: 0px 1px 2px #1E1E25;
  padding: 8px;
}

.namecard .subscribe .btn-subscribe p {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 31px;
  line-height: 37px;
  align-items: center;
  margin-left: 9px;
}

.namecard .subscribe .btn-subscribe i {
  padding: 7px;
}
