* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html {
    background: #DBE5EA;
    height: 100%;
  }
  
  body {
    align-items: center;
    display: flex;
    font: 1.125em/1.5625 Roboto;
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }

  .errorcard{
    position: relative;
    width: 500px;
    height: 150px;
    background-color: #006633;
    border-radius: 16px;
  }

  .name1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 8%;
    bottom: 50.06%;
    
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 151.19%;
    /* or 30px */
    
    text-align: center;
    
    /* Fehér */
    
    color: #FFFFFF;
    
  }

  .word1{
    font-weight: bold;
  }

  .word2{
      font-weight: 400;
  }

.buttongroup{
    position: relative;
    left: 27.6%;
    right: 27.4%;
    top: 58.67%;
    bottom: 14.67%;
    
}

.button1{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

  .button1:focus {
    outline: none;
  }
  
  .button1::-moz-focus-inner {
    border: 0;
  }
  
  .btnname {
    align-items: center;
    background: #BFBFBF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Work Sans;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    min-width: 2.5em;
    padding: 8px 32px;
    position: relative;
    transition: 0.2s ease;
    width: 100%;
  }
  
  .button1:focus .btnname {
    border-color: #fff;
    box-shadow: 0 0 0 2px #456BD9;
  }
  
  .button1:hover .btnname {
    filter: brightness(1.1);
  }
  
  .button1:active .btnname {
    filter: brightness(0.9);
  }
  
  .button2{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1;
    margin: 0;
    margin-left: 22.98px;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

   .button2:focus {
    outline: none;
  }
  
  .button2::-moz-focus-inner {
    border: 0;
  }

  .delete {
    align-items: center;
    background: #EF3A43;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 40px;
    min-width: 2.5em;
    padding: 8px 32px;
    position: relative;
    transition: 0.2s ease;
    width: 100%;
  }
  
  .button2:focus .delete {
    border-color: #fff;
    box-shadow: 0 0 0 2px #456BD9;
  }
  
  .button2:hover .delete {
    filter: brightness(1.1);
  }
  
  .button2:active .delete {
    filter: brightness(0.9);
  }