* {
    box-sizing: border-box;
    margin: 0;
  }
  
html {
    background: #DBE5EA;
    height: 100%;
  }
  
body {
    align-items: center;
    display: flex;
    font: 1.125em/1.5625 Roboto;
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }