.flex-container, section {
  align-items: center;
  justify-content: center;
  display: flex;
}

section {
  background-color: #363636;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

.flex-container div {
  border-radius: 50%;
  padding: 30px 30px;
}

.flex-container div:nth-child(1) {
  background-color: #55AE3A;
}  
