table{
    position: relative;
width: 460px;
height: 60px;

}

tr{
    position: absolute;
left: 6.52%;
right: 6.09%;
top: 0%;
bottom: 0%;

/* SötétSzürke */

background: #363636;
}

.icon1{
    position: absolute;
left: 0%;
right: 86.96%;
top: 0%;
bottom: 0%;

/* Zöld */

background: #55AE3A;
}

.icon2{
    position: absolute;
left: 17.39%;
right: 69.57%;
top: 20%;
bottom: 0%;
}

/*i.fas{
    position: absolute;
left: 17.39%;
right: 69.57%;
top: 0%;
bottom: 0%;

/* SötétSzürke

background: #363636;
}*/

.fa-inverse.fa-2x.fa-info{
position: absolute;
left: 12.5%;
right: 12.5%;
top: 4.17%;
bottom: 12.5%;
}


.icon3{
    position: absolute;
left: 34.78%;
right: 52.17%;
top: 20%;
bottom: 0%;
}

.icon4{
    position: absolute;
left: 52.17%;
right: 34.78%;
top: 20%;
bottom: 0%;
}

.icon5{
    position: absolute;
left: 69.57%;
right: 17.39%;
top: 20%;
bottom: 0%;
}

.icon6{
    position: absolute;
left: 86.96%;
right: 0%;
top: 20%;
bottom: 0%;

}