table{
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -250px;
    background-color: rgb(48, 46, 46);
}

i{
    position: relative;
    /*text-align: center;
    font-family: sans-serif;
    font-weight: bold;*/
    font-size: 40px;
    color: white;
   
}

.fa-bars{
    background-color: green;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 7px;
    margin-left: -5px;
}

.fa-info{
    margin-right: 5px;
}

.fa-calendar{
    margin-right: -5px;
}
