* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html {
    background: #DBE5EA;
    height: 100%;
  }
  
  body {
    align-items: center;
    display: flex;
    font: 1.125em/1.5625 Roboto;
    justify-content: center;
    margin: 0;
    padding: 1em;
    min-height: 100%;
  }

  .namecard{
    width: 300px;
    height: 180px;
  }

  img{
    width: 128px;
    height: 128px;
    position: relative;
    left: 90px;
    top: -60px;
    border: 4px solid #006633;
    box-sizing: border-box;
    border-radius: 100px;
  }  

  .frame{
    width: 300px;
    height: 125px;  
    background: #006633;
    border-radius: 36px;
  }

  .name1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    
    display: relative;
    align-items: center;
    text-align: center;
    position: relative;
    top: -60px;
    color: #FFFFFF;
    
  }

  .name2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    display: relative;
    align-items: center;
    text-align: center;
    position: relative;
    top: -60px;
    color: #FFFFFF;
    
  }