.flex-container, section {
  align-items: center;
  justify-content: center;
  display: flex;
}

section {
  background-color: #363636;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

.flex-container div {
  border-radius: 50%;
  padding: 30px 30px;
}

.flex-container div:hover:nth-child(1) {
  background-color: #55AE3A;
}  

.flex-container div:hover:nth-child(2) {
  background-color: #FFC700;
}  

.flex-container div:hover:nth-child(3) {
  background-color: #DF7E24;
}

.flex-container div:hover:nth-child(4) {
  background-color: #9400D3;
}

.flex-container div:hover:nth-child(5) {
  background-color: #2D8CD8;
}  

.flex-container div:hover:nth-child(6) {
  background-color: #E10000;
}  